#	$OpenBSD: sshd_config,v 1.103 2018/04/09 20:41:22 tj Exp $

Port 22
AuthenticationMethods publickey
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys

#HostKey /etc/ssh/ssh_host_rsa_key
#HostKey /etc/ssh/ssh_host_ecdsa_key
#HostKey /etc/ssh/ssh_host_ed25519_key

LogLevel INFO
SyslogFacility AUTH

PermitTunnel yes
AllowTcpForwarding yes
AllowStreamLocalForwarding yes
GatewayPorts yes
PrintMotd yes

StreamLocalBindUnlink yes
StreamLocalBindMask 0111
